.navbar-container {
  background: var(--palette-primary-500);
  background: linear-gradient(90deg, var(--palette-primary-500) 25%, var(--palette-secondary-500) 75%);
  color: var(--palette-black);

  padding: var(--spacing-small) var(--spacing-medium);

  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

.logo-title {
  margin-right: auto;
}

.links-container {
  display: flex;
  list-style-type: none;
}

.links {
  margin: 0px var(--spacing-tiny);
  font-size: 200%;
}

.links > a {
  color: var(--palette-black); /* we have to overide link colors */
  text-decoration: none;
  font-weight: 600;

  animation-duration: 1000ms;
}
.links > a:hover {
  color: red;
}
.links > a:active {
  color: green;
}